<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:wicket="http://wicket.apache.org/">
	<head><title></title></head>
	<body>
		<wicket:panel xmlns:wicket="http://wicket.apache.org">
			<a wicket:id="link"> 
				<span wicket:id="label" class="tree-label">
					<i wicket:id="icon"></i>
					<span wicket:id="labelText">[label]</span>
					<span style="font-style: italic; color:orange" wicket:id="suggestionLabelText">[suggestion]</span>
				</span>
			</a>
		</wicket:panel>
	</body>
</html>
